<% let stylesheets=["/css/detailStory.css"]; %>
<%- include("templates/header", { stylesheets: stylesheets }) %>
<div class="story-container">
    <h1 class="story-title">Title</h1>
    <div class="story-image"></div>
    <p class="story-content">
        In a small village nestled beside a majestic mountain, lived a wise old woman named Anya.
        Anya had always felt a deep connection to the earth, and she knew its subtle tremors and whispers.
        One day, a strange uneasiness settled upon her, a feeling that something was about to happen.
    </p>
</div>
<%- include("templates/footer") %>