<% let stylesheets=["/css/landing.css"]; %>
  <% let scripts=[{ script: "/js/common.js" }, { script: "/js/landing.js" }, {
    script: "https://api.mapbox.com/search-js/v1.0.0/web.js" , id: "search-js" }]; %> <%- include("templates/header", {
      stylesheets: stylesheets }) %>
      <div id="landingPage">

        <!-- Main Content -->

        <main>
          <h1><b>RiskMapper</b></h1>
          <div id="search-bar"></div>
          <p class="search-info">
            Search your location to learn about the environmental risks around you.
          </p>
          <div class="description-container">
            <img src="/img/RiskMapper.png" width="200px">
            <p class="description">
            From rising flood zones to wildfire-prone areas, our
            interactive maps help you stay prepared and make smarter decisions for
            your safety. Whether you're planning ahead or just staying informed, 
            RiskMapper gives you the tools to protect your home, your family, and your community.
          </p>

          </div>
          
            
            <div class="about-container">
            <div>
              <h2><b>About Us</b></h2>
              <img src="/img/lightbulb.png" width="200px" height="200px">
            </div>
            
            <section class="about">
              <p>
                We are a group of passionate developers, designers, and climate advocates committed to helping
                communities stay informed and resilient in the face of environmental challenges. RiskMapper was created
                as a response to the increasing need for accessible, real-time information on climate-related risks such
                as floods, wildfires, and heatwaves.
              </p>
              <p>
                Our goal is to empower individuals with the knowledge they need to make safe decisions and take
                proactive measures. Through user-friendly maps, alerts, and educational resources, we aim to make
                climate data more transparent and actionable for everyone.
              </p>
              <p>
                This project is fueled by collaboration, innovation, and a shared belief that technology can play a
                vital role in community preparedness and environmental sustainability.
              </p>
            </section>
            </div>

          
      </div>
      </main>


      <%- include("templates/footer", { scripts: scripts }) %>