<% let stylesheets=["/css/main.css", "https://api.mapbox.com/mapbox-gl-js/v3.11.1/mapbox-gl.css"]; %>
<% let scripts=[{ script: "/js/common.js" }, { script: "/js/main.js" },
    { script: "https://api.mapbox.com/search-js/v1.0.0/web.js", id: "search-js" }, {script: "https://api.mapbox.com/mapbox-gl-js/v3.11.1/mapbox-gl.js"}]; %>

<%- include("templates/header", { stylesheets: stylesheets }) %>

<template id="riskTemplateShort">
    <div id="riskShort">
    </div>
    <div id="downArrow"></div>
</template>


<template id="riskTemplateLong">
    <div id="riskLong">
    </div>
    <div id="upArrow"></div>
</template>

<nav id="navbarPlaceholder"></nav>
<main>
    <div id="search-bar"></div>

    <div id="save-container">
        <div id="save">
            <img id="saveIcon" src="/img/saveIconUnchecked.png" alt="save location" width="20" height="20">
            <span id="saveLocation">Save Location</span>
        </div>
        <div id="locationName"></div>
    </div>
    <div id="popup-overlay"></div>


    <ul id="mapLayers">
        <li id="heatLayer">Heat Map</li>
        <li id="floodLayer">Water Level Map</li>
    </ul>

    <div id="map">
    </div>

    <div id="gradient">Gradient</div>

    <div id="risks">
        <div id="riskHeading"><strong>Environmental Risks at this Location</strong></div>
        <div id="riskContent">There is currently no Environmental Risk</div>
    </div>

    <div class="container border rounded-3 py-2 my-5">
        <p id="ai-message">Take a look at what this location's climate would look like in the next few decades.</p>
        <button type="button" id="ai-button" class="btn btn-success">Get Climate Prediction</button>
    </div>
</main>
<%- include("templates/footer", { scripts: scripts }) %>