<% let stylesheets=["/css/savedLocation.css"]; %>
<% let scripts=[{ script: "/js/savedLocation.js" }]; %>

<%- include("templates/header", { stylesheets: stylesheets }) %>
<h2 class="save-location-title">Saved Locations</h2>
<div class="map-container">
    <div class="layer-container">
        <button type="button">Temperature Map</button>
        <button type="button">Water Level Map</button>
    </div>
    <div class="map"></div>
</div>
<div class="save-location-container">
    <!-- hardcoded html blocks for looks only, remove when coding with js to generate them with template -->
    <div class="save-location-block">
        <p>101 Boardfish Ave.</p>
        <div class="save-location-button-container">
            <button type="button" class="save-location-alert">Alerts</button>
            <button type="button" class="save-location-remove">Remove</button>
        </div>
    </div>
    <div class="save-location-block">
        <p>101 Boardfish Ave.</p>
        <div class="save-location-button-container">
            <button type="button" class="save-location-alert">Alerts</button>
            <button type="button" class="save-location-remove">Remove</button>
        </div>
    </div>
</div>

<!-- template here -->
<template id="save-location-block-template">
    <div class="save-location-block">
        <p class="location-name">location name</p>
        <div class="save-location-button-container">
            <button type="button" class="save-location-alert">Alerts</button>
            <button type="button" class="save-location-remove">Remove</button>
        </div>
    </div>
</template>
<!-- template here -->
<%- include("templates/footer", { scripts: scripts }) %>