/* region lets you collapse and separate sections */


/* #region  template.html */

/* use this as a template for a new section/page */

/* #endregion */


/* Media Queries
Copy and paste these into sections as needed */

/* @media only screen and (min-width: 600px) {} */

/* @media only screen and (min-width: 1024px) {} */

/* @media only screen and (min-width: 1200px) {} */


/* CSS STARTS HERE */

body {
    padding-bottom: 70px;
    /* for the footer */
}

/* #region  Header */

#header-logo {
    width: 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: beige;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 100px;
}

.mobile-hidden {
    display: none;
}

.header>p {
    font-size: 2.5rem;
    margin-left: 20px;
}

.header>a {
    text-decoration: none;
    color: #43413C;
}

#login-button-nav {
    padding: 10px 15px;
    color: beige;
    border-radius: 10px;
    background-color: #43413C;
    border: #43413C solid 2px;
    box-shadow: 2px 2px 2px beige, 3.3px 3.3px 2px #43413C;
}

#login-button-nav:hover {
    background-color: beige;
    color: #43413C;
    box-shadow: 3.3px 3.3px 1px #43413C;
}

.hamburger-container {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43413C;
}

.hamburger, .hamburger::after, .hamburger::before {
    width: 32px;
    height: 5px;
    background-color: beige;
    border-radius: 15px;
}

.hamburger {
    transition-duration: 0.8s;
}

.hamburger.untoggle {
    visibility: visible;
}

.hamburger.toggle {
    background-color: #43413C;
    transition: backgroundColor 0.5s;
    visibility: hidden;
}

.hamburger::after {
    position: relative;
    top: 5px;
    content: "";
    display: block;
    transition-duration: 0.3s;
}

.hamburger::before {
    position: relative;
    bottom: 10px;
    content: "";
    display: block;
    transition-duration: 0.3s;
}

.hamburger.toggle::before {
    visibility: visible;
    transform: rotate(45deg);
    transform-origin: center;
    bottom: 0;
}

.hamburger.toggle::after {
    visibility: visible;
    transform: rotate(-45deg);
    transform-origin: center;
    top: -5px;
}

.header-navigation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 100px;
    right: 0;
    left: 0;
    padding: 30px 20px 10px;
    text-align: end;
    z-index: 998;
    margin: 0;
    background: linear-gradient(to top left, beige 50%, transparent 50%);
    translate: 0 50vw;
    transition: translate 1s ease;
}



.header-navigation-links.toggle {
    translate: 0 0;
    transition-duration: 0.5s;
}

.header-navigation-bg {
    background-color: lightgray;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s;
}

.header-navigation-bg.untoggle {
    z-index: -1;
}

.header-navigation-bg.toggle {
    opacity: 85%;
}

@media only screen and (min-width: 1200px) {
    body {
        padding: 150px 0 0;
    }

    .header {
        top: 30px;
        padding: 10px 40px;
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 4px 4px #43413C;
        border: #43413C solid 2px;
    }

    .mobile-hidden {
        display: block;
    }

    .hamburger-container {
        display: none;
    }
}

/* #endregion */



/* #region Footer */

.footer-navigation {
    display: flex;
    background-color: beige;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 85%;
    z-index: 999;
}

.footer-navigation>a {
    text-decoration: none;
    padding: 15px 0px;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    border: solid 1px black;
}

/* #endregion */



/* #region  index.html */

/* replace with css here*/

/* #endregion */



/* #region  login.html */

/* replace with css here*/

/* #endregion */



/* #region  main.html */

/* replace with css here*/

/* #endregion */



/* #region  map.html */

/* replace with css here*/

/* #endregion */



/* #region  tips.html */

/* replace with css here*/

/* #endregion */



/* #region  story.html */

/* replace with css here*/

/* #endregion */



/* #region  settings.html */

/* replace with css here*/

/* #endregion */