/* region lets you collapse and separate sections */


/* #region  template.html */

/* use this as a template for a new section/page */

/* #endregion */


/* Media Queries
Copy and paste these into sections as needed */

/* @media only screen and (min-width: 600px) {} */

/* @media only screen and (min-width: 1024px) {} */

/* @media only screen and (min-width: 1200px) {} */


/* CSS STARTS HERE */

html {
    /* so that the scrollbar doesn't interfere with css */
    scrollbar-gutter: stable both-edges;
}

body {
    padding-bottom: 160px;
    position: relative;
    /* for the footer */
    background-color: #f8f9fa;
    min-height: 100vh;
}

/* #region  Header */

#header-logo {
    width: 70px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: beige;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 65px;
    box-sizing: content-box !important;
}

.mobile-hidden {
    display: none;
}

.header>p {
    font-size: 2.5rem;
    margin-left: 20px;
}

.header>a {
    text-decoration: none;
    color: #43413C;
    padding: 5px;
    margin: 0;
}

.header>a:hover {
    color: #4b873c;
    text-decoration: underline;
}

.header>a:active {
    color: #a7c9b9;
    text-decoration: none;
}

#login-button-nav {
    padding: 10px 15px;
    color: beige;
    border-radius: 10px;
    background-color: #43413C;
    border: #43413C solid 2px;
    box-shadow: 2px 2px 2px beige, 3.3px 3.3px 2px #43413C;
}

#login-button-nav:hover {
    background-color: beige;
    color: #43413C;
    box-shadow: 3.3px 3.3px 1px #43413C;
}

.hamburger-container {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43413C;
}

.hamburger, .hamburger::after, .hamburger::before {
    width: 28px;
    height: 5px;
    background-color: beige;
    border-radius: 15px;
}

.hamburger {
    transition-duration: 0.8s;
}

.hamburger.untoggle {
    visibility: visible;
}

.hamburger.toggle {
    background-color: #43413C;
    transition: backgroundColor 0.5s;
    visibility: hidden;
}

.hamburger::after {
    position: relative;
    top: 5px;
    content: "";
    display: block;
    transition-duration: 0.3s;
}

.hamburger::before {
    position: relative;
    bottom: 10px;
    content: "";
    display: block;
    transition-duration: 0.3s;
}

.hamburger.toggle::before {
    visibility: visible;
    transform: rotate(45deg);
    transform-origin: center;
    bottom: 0;
}

.hamburger.toggle::after {
    visibility: visible;
    transform: rotate(-45deg);
    transform-origin: center;
    top: -5px;
}

.header-navigation-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 60px;
    right: 0;
    left: 0;
    padding: 30px 10px 10px;
    text-align: end;
    z-index: 998;
    margin: 0;
    background: linear-gradient(to top left, beige 50%, transparent 50%);
    translate: 0 80vw;
    transition: translate 0.8s;
}

.header-navigation-links>li {
    width: max-content;
    margin: 5px 5px 0px;
}

.header-navigation-links a {
    text-decoration: none;
    padding: 5px 0;
    color: #4b873c;
}

.header-navigation-links a:active {
    text-decoration: underline;
    color: #a7c9b9;
}



.header-navigation-links.toggle {
    translate: 0 0;
    transition-duration: 0.5s;
}

.header-navigation-bg {
    background-color: lightgray;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 998;
    opacity: 0;
    transition: opacity 0.4s;
}

.header-navigation-bg.untoggle {
    z-index: -1;
}

.header-navigation-bg.toggle {
    opacity: 85%;
}

.header>.mobile-link {
    color: #4b873c;
}

@media only screen and (min-width: 768px) {
    body {
        padding: 160px 0 100px;
    }

    .header {
        top: 30px;
        padding: 10px 20px;
        width: fit-content;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 4px 4px #43413C;
        border: #43413C solid 2px;
    }

    .header>.mobile-link {
        color: #43413C;
    }

    .header>a {
        padding: 10px;
    }

    .mobile-hidden {
        display: block;
    }

    .hamburger-container, .header-navigation-links, .header-navigation-bg {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .header>a {
        margin: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    .header {
        max-width: 70%;
        min-width: 40%;
    }
}



/* #endregion */



/* #region Footer */

#footerPlaceholder {
    display: flex;
    background-color: beige;
    position: absolute;
    width: fit-content;
    margin: 0 auto 20px;
    bottom: 70px;
    left: 0;
    right: 0;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    border: solid 2px black;
}

#footerPlaceholder>* {
    margin: 5px;
}

#footerPlaceholder>a {
    color: #4b873c;
    text-decoration: none;
}

#footerPlaceholder>a:hover {
    text-decoration: underline;
}

#footerPlaceholder>a:active {

    color: #43413C;
}


@media only screen and (min-width: 768px) {
    #footerPlaceholder {
        bottom: 0px;
    }
}
