<div class="py-2">
  <p>
    Extreme heat can lead to periods of drought. During a drought, impacted communities may experience a water shortage.
    Conserving water is particularly important during drought conditions.
    <br>
    <a href="https://www2.gov.bc.ca/gov/content/environment/air-land-water/water/drought-flooding-dikes-dams/drought-information/water-conservation"
      target="_blank">
      Learn more</a> on how to conserve water.
  </p>
  <p>
    Ensure bottled water is part of your emergency kit.
    Most people need 4 litres of water per day but some people may need more
  </p>
</div>