<p>If you have air-conditioning:</p>
<ul>
  <li>Turn it on. It does not need to be going full strength to help you stay safe</li>
  <li>If friends or family do not have air-conditioning, bring them to your home</li>
</ul>

<p>
  If you do not have air conditioning, move to your pre-identified alternative locations 
  with air conditioning or cooler spaces.
</p>

<p>Cooling spaces and centres can include:</p>
<ul>
  <li>Libraries</li>
  <li>Community centres</li>
  <li>Shopping malls</li>
  <li>Movie theaters</li>
  <li>Religious centres</li>
  <li>Parks and other shaded green spaces</li>
</ul>

<p>Other methods to stay cool indoors:</p>
<ul>
  <li>Sleep in the coolest room of your residence. If it’s cooler outside, sleep outside if safe to do so</li>
  <li>Sleep with a wet sheet or in a wet shirt</li>
  <li>Take cool baths or showers</li>
  <li>Drink plenty of water, regardless of whether you feel thirsty. Be aware that sugary or alcoholic drinks cause dehydration</li>
  <li>If you are taking medication or have a health condition, ask your doctor or pharmacist if it increases your health risk in the heat and follow their recommendations</li>
  <li>If your doctor limits the amount you drink or has you on water pills, ask how much you should drink when the weather is hot</li>
</ul>









