<p>
  If you live alone, and need extra help, pick someone to check in on you when the temperature rises.
</p>
<p>
  They could take you to a designated cooling space or help with cooling measures in your residence
</p>




