<ul>
  <li>Seniors aged 65 years or older</li>
  <li>People who live alone</li>
  <li>People with pre-existing health conditions such as diabetes, heart disease or respiratory disease</li>
  <li>People with mental illness such as schizophrenia, depression, or anxiety</li>
  <li>People with substance use disorders</li>
  <li>People who are marginally housed</li>
  <li>People who work in hot environments</li>
  <li>People who are pregnant</li>
  <li>Infants and young children</li>
  <li>People with limited mobility</li>
</ul>











