<div class="py-2">
  <ul>
    <li>
      Lower your activity level
    </li>
    <li>
      If you must do errands, do them early or late in the day
    </li>
    <li>
      Never leave children or pets in a parked car
    </li>
    <li>
      Avoid direct sun by staying in the shade and wearing a heat and protective clothing
    </li>
    <li>
      Use sunscreen and UV-protective eyewear
    </li>
    <li>
      Seek cooler, breezier areas when outdoors, such as large parks near to trees and water
    </li>
    <li>
      If you work in a hot environment, discuss and act on ways to decrease
      heat exposure with our employer and coworkers
    </li>
    <li>
      Make sure you have lots of fresh water for your pets and that they are in cool locations.
      Stay in shady areas and avoid asphalt and pavement; those surfaces can burn paws
    </li>
  </ul>
</div>