<p>
  Symptoms of overheating include rapid breathing and heartbeat, extreme thirst, and decreased urination 
  with unusually dark yellow urine.
</p>
<p>
  <strong>Heat stroke is an emergency.</strong>  If you are caring for someone who display symptoms 
  take immediate action to cool them down while waiting for help to arrive:
</p>
<ul>
  <li>Get medical attention or call 911</li>
  <li>Submerge yourself or the person you’re helping in cool water</li>
  <li>Remove cloth and apply wet cloths</li>
</ul>




