<div class="py-2">
  <p>
    Extreme heat can lead to higher risks of wildfires.
  </p>
  <p>
    <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/know-your-hazards/wildfires"
      target="_blank">
      Learn more</a> on how to prepare for a wildfire.
  </p>
</div>