<div class="py-2">
  <ul>
    <li>
      Install a window air conditioner in at least one room
    </li>
    <li>
      Install thermal curtains or window coverings
    </li>
    <li>
      Keep easy-to-read thermometers available to accurately measure indoor temperatures.
      <strong>31 degrees or higher is dangerous for vulnerable people</strong>
    </li>
    <li>
      Have fans available to help move cooler air indoors during the late evening or early morning hours.
      Fans cannot effectively reduce body temperatures or prevent heat-related illness in people at risk.
      <strong>Do not rely on fans as your primary cooling method during extreme heat.</strong>
    </li>
    <li>
      Identify a room in your home that’s typical the coolest and consider how you can modify the layout
      to support sleeping and day-to-day living for the duration of the heat event
    </li>
    <li>
      Install a heat pump
    </li>
    <li>
      Install exterior covers or reflective films that block the sun from hitting the windows.
      This can be as simple as applying cardboard to the outside of the window.
      (Uncovered windows can increase the internal heat of your home by 2 - 3 degrees)
    </li>
  </ul>
</div>