<div id="popup-content">
    <div id="login">
      <div class="mb-3 mx-auto">
        <p><a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to save your location.</p>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" id="login-back" class="btn btn-primary ">Back</button>
      </div>
      
    </div>

</div>