<p>
  An emergency plan says how you and your household will respond to a disaster. 
  Knowing what to do will reduce anxiety and keep you focused and safe.
</p>
<div>
  <p>
    An emergency plan includes:
  </p>
  <ul>
    <li>
      A master contacts list of friends, family, neighbours, employees (if any), 
      and make sure everyone has a copy. The list should include at least one out-of-area contact 
      in case local phones and mobile networks are overwhelmed.
    </li>
    <li>
      A meeting place, such as a community center, 
      in case you have to leave your current location due to the emergency.
    </li>
    <li>
      Contacts to your community’s emergency management program to find out 
      how it will share alerts and instructions during an emergency.
    </li>
    <li>
      Instructions on how to turn off utilities (water, electricity, gas). In certain emergencies, 
      authorities will ask that these be turned off for safety reasons
    </li>
  </ul>
  <p>Create your plan <a href="https://blog.gov.bc.ca/emergencymanagement/emergencyready" target="_blank">here</a></p>
</div>
