<p>
  Store valuables and important items or documents in water-tight cnotainers or
  in higher places, like on a tall shelf or upper floor.
</p>
<p>
  Clean your gutters regularly.
</p>
<p>
  Keep nearby storm drains clear of debris.
</p>
<p>
  In the winter, clear snow at least 1 to 1.5 meters away from your home's foundation.
</p>