<p>
  A grab-and-go bag is a small version of your emergency kit that you can quickly take with you 
  in case you need to evacuate and leave your home quickly.
</p>
<div>
  <p>A grab-and-go bag includes:</p>
  <ul>
    <li>Ready to eat food and water</li>
    <li>Phone charger and battery bank</li>
    <li>Small battery-powered or hand crank radio</li>
    <li>Flashlight</li>
    <li>Small first-aid kit and personal medication</li>
    <li>Personal toiletries and items</li>
    <li>A copy of your emergency plan</li>
    <li>Copies of important documents (insurance papers and identification)</li>
    <li>Cash in small bills</li>
    <li>Local map with your family meeting place identified</li>
    <li>Seasonal clothing and emergency blanket</li>
    <li>Pen and notepad</li>
    <li>Whistle</li>
  </ul>
  <p>
    <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-management/preparedbc/build-an-emergency-kit-and-grab-and-go-bag#grab-and-go" target="_blank">Learn more</a>
  </p>
</div>