<p>
  Having insurance can protect you from having to pay a huge amount in event of a disaster.
</p>
<p>
  Check with your insurance representative to determine if sewer backup and/or residential 
  flood insurance is available for your property.
</p>
<p>
  Add your insurance information to your emergency plan to ensure it’s handy when you need it.
</p>
